<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mardi2020.todoapp.Todo.TodoMapper">

    <insert id="insertTodo" parameterType="WriteTodoDTO">
        INSERT INTO Todo(title, memo, star) VALUES(#{title}, #{memo}, #{star});
    </insert>

    <select id="getTodoAll" resultType="TodoDTO">
        SELECT * FROM todo;
    </select>

    <delete id="deleteTodo" parameterType="long">
        DELETE FROM todo WHERE id=#{id}
    </delete>

    <update id="updateTodo" parameterType="EditTodoDTO">
        UPDATE todo SET title=#{title}, memo=#{memo} WHERE id=#{id}
    </update>

    <!-- 날짜 별로 가져오기 -->
    <select id="getTodoByDate" resultType="DateDTO">
        SELECT distinct DATE(written_date) as written_date FROM todo
    </select>

    <!-- 특정 날짜 -->
    <select id="getTodoAllByDate" resultType="TodoDTO">
        SELECT * FROM todo WHERE written_date LIKE CONCAT(#{date}, '%')
    </select>
</mapper>