<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{resources/static/css/home.css}">

    <div id="goToday" th:onclick="'location.href=\''+@{/todo/{today}(today=${today})}+'\''">
        Go Today
    </div>

</head>
<body>
    <div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th id="dateList">🌼 날짜 목록</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="day:${dates}">
                <!-- 날짜마다 구분된 페이지로 들어가기 -->
                <td>
                    <a id="showDate" th:href="@{/todo/{date}(date=${day.written_date})}" th:text="${day.written_date}">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>