<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <button onclick="location.href='/todo/main'">홈으로 돌아가기 </button>
</head>
<body>
<div>
  <button type="button" onclick="location.href='/todo/new'">추가하기</button>
</div>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>title</th>
        <th>memo</th>
        <th>삭제</th>
        <th>수정</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="todo : ${todos}">
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.memo}"></td>
        <td>
          <form th:action="@{'/todo/delete/{id}'(id=${todo.id})}" th:method="delete">
            <button type="submit"> 삭제 </button>
          </form>
        </td>
        <td>
          <a th:href="@{/todo/edit/{id}(id=${todo.id})}">
            <button type="button">수정</button>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>