<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/home.css">
</head>
<body>
<hr>
<form action="/todo/new" th:object="${todo}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="text" th:field="*{title}" placeholder="잼목">
    <input type="text" th:field="*{memo}" placeholder="내용">

    <button type="submit">추가하기</button>
</form>
<div>
    <button onclick="location.href='/'">홈으로 돌아가기 </button>
</div>
</body>
</html>