<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <button onclick="location.href='/todo/main'">홈으로 돌아가기 </button>
    <h2 th:text="${date}" />
</head>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>title</th>
                <th>memo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.title}"></td>
                <td th:text="${todo.memo}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>